{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
		<div class="row-content am-cf">
				<div class="row">
						<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
								<div class="widget am-cf">
										<div class="widget-head am-cf">
												<div class="widget-title  am-cf">管理product</div>
										</div>
										<div class="widget-body  am-fr">
	<div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
		<div class="am-form-group">
			<div class="am-btn-toolbar">
				<div class="am-btn-group am-btn-group-xs">
					<a class="am-btn am-btn-default am-btn-success" href="{:url('product/add')}">
						<span class="am-icon-plus"></span> 新增
					</a>
					<!--
					<button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
					<button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
					<button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
					-->
				</div>
			</div>
		</div>
	</div>
	<div class="am-u-sm-12">
		<table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
				<thead>
					<tr>
												<th style="display: none">产品ID</th>
												<th>产品编号</th>
												<th>产品名称</th>
												<th style="display: none">产品图片</th>
												<th>产品主类</th>
												<th>产品次要类别</th>
												<th>产品单价</th>
												<th>产品售价</th>
												<th>计量单位</th>
												<th>规格</th>
												<th>操作</th>
					</tr>
				</thead>
				<tbody>
						{volist name="productList" id="vo"}
						<tr class="gradeX">
																<td style="display: none">{$vo.id}</td>
																<td>{$vo.product_num}</td>
																<td>{$vo.product_name}</td>
																<td style="display: none">{$vo.product_pic}</td>
																<td>{$vo.product_main_type}</td>
																<td>{$vo.product_secondary_type}</td>
																<td>{$vo.product_cost}</td>
																<td>{$vo.product_sale}</td>
																<td>{$vo.product_unit}</td>
																<td>{$vo.product_detail}</td>
																<td>
										<div class="tpl-table-black-operation">
												<a  href="{:url('product/edit', ['id'=>$vo['id']])}">
													<i class="am-icon-pencil"></i> 编辑
												</a>
												<a href="{:url('product/delete', ['id'=>$vo['id']])}" onclick='return confirm("确定删除吗？")' class="tpl-table-black-operation-del">
													<i class="am-icon-trash"></i> 删除
												</a>
										</div>
								</td>
						</tr>
						{/volist}
						<!-- more data -->
				</tbody>
		</table>
	</div>
	<div class="am-u-lg-12 am-cf">

			<div class="am-fr">
					<ul class="am-pagination tpl-pagination">
							{$productList->render()}
					</ul>
			</div>
	</div>
</div>
								</div>
						</div>
				</div>
		</div>
</div>
{/block}