
{extend name="layout" /}
{block name="content"}
<div class="tpl-content-wrapper">
<div data-am-widget="tabs"
     class="am-tabs am-tabs-d2"
>
    <ul class="am-tabs-nav am-cf pro_list" id="sort_name" onClick="show()">
        <li class="am-active"><a href="[data-tab-panel-0]" id="television" >电视</a></li>
        <li class=""><a href="[data-tab-panel-1]" id="refrigerator">冰箱</a></li>
        <li class=""><a href="[data-tab-panel-2]" id="a_conditioner">空调</a></li>
        <li class=""><a href="[data-tab-panel-3]" id="w_machine">洗衣机</a></li>
        <li class=""><a href="[data-tab-panel-4]" id="kt_elec">厨卫大电</a></li>
        <li class=""><a href="[data-tab-panel-5]" id="k_elec">厨房小电</a></li>
        <li class=""><a href="[data-tab-panel-6]" id="l_elec">生活电器</a></li>
        <li class=""><a href="[data-tab-panel-7]" id="hc">个护健康</a></li>
        <li class=""><a href="[data-tab-panel-8]" id="ht">家庭影院</a></li>

    </ul>

    <script type="text/javascript">
        // function onClickEvent(event) {
        //     var sort_name = event.srcElement.innerHTML;
        //     $.ajax(
        //         {
        //             url:" {:url('product/controller/sortList')}",
        //             data:{
        //                 'productname':sort_name
        //             },
        //             dataType:'json',
        //             type:'post',
        //             success:function (data) {
        //                 alert(data);
        //             }
        //         })
        //     // $.post('product/controller/product/sort', {'productname': sort_name}, function(res){
        //     //     //回调函数
        //     //     var resalt = JSON.parse(res);
        //     //
        //     // })
        //
        //
        // }

        function show(){
            $(".pro_list li a").click(function(){
                var sort_name = $(this).text();
                // alert(sort_name);
                // $.ajax({
                //             url:"sortlist",
                //             data:{
                //                 'productname':sort_name
                //             },
                //             dataType:'json',
                //             type:'post',
                //             success:function (data) {
                //                 alert(data);
                //             }
                //         })

                $.post('sortlist', {'productname': sort_name}, function(res){
                //回调函数
                var resalt = JSON.parse(res);
                alert(resalt);
                })
            })
        }
    </script>


    <div class="am-tabs-bd">
        <div data-tab-panel-0 class="am-tab-panel am-active">
            <div class="am-u-sm-12">
                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                    <thead>
                    <tr>
                        <th style="display: none">产品ID</th>
                        <th>产品编号</th>
                        <th>产品名称</th>
                        <th>产品类别</th>
                        <th>产品单价</th>
                        <th>产品售价</th>
                        <th>计量单位</th>
                        <th>规格</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr class="gradeX">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div data-tab-panel-1 class="am-tab-panel ">
            <div class="am-u-sm-12">
                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                    <thead>
                    <tr>
                        <th style="display: none">产品ID</th>
                        <th>产品编号</th>
                        <th>产品名称</th>
                        <th>产品类别</th>
                        <th>产品单价</th>
                        <th>产品售价</th>
                        <th>计量单位</th>
                        <th>规格</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div data-tab-panel-2 class="am-tab-panel ">
            <div class="am-u-sm-12">
                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                    <thead>
                    <tr>
                        <th style="display: none">产品ID</th>
                        <th>产品编号</th>
                        <th>产品名称</th>
                        <th>产品类别</th>
                        <th>产品单价</th>
                        <th>产品售价</th>
                        <th>计量单位</th>
                        <th>规格</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div data-tab-panel-3 class="am-tab-panel ">
            <div class="am-u-sm-12">
                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                    <thead>
                    <tr>
                        <th style="display: none">产品ID</th>
                        <th>产品编号</th>
                        <th>产品名称</th>
                        <th>产品类别</th>
                        <th>产品单价</th>
                        <th>产品售价</th>
                        <th>计量单位</th>
                        <th>规格</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div data-tab-panel-4 class="am-tab-panel ">
            <div class="am-u-sm-12">
                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                    <thead>
                    <tr>
                        <th style="display: none">产品ID</th>
                        <th>产品编号</th>
                        <th>产品名称</th>
                        <th>产品类别</th>
                        <th>产品单价</th>
                        <th>产品售价</th>
                        <th>计量单位</th>
                        <th>规格</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div data-tab-panel-5 class="am-tab-panel ">
            <div class="am-u-sm-12">
                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                    <thead>
                    <tr>
                        <th style="display: none">产品ID</th>
                        <th>产品编号</th>
                        <th>产品名称</th>
                        <th>产品类别</th>
                        <th>产品单价</th>
                        <th>产品售价</th>
                        <th>计量单位</th>
                        <th>规格</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div data-tab-panel-6 class="am-tab-panel ">
            <div class="am-u-sm-12">
                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                    <thead>
                    <tr>
                        <th style="display: none">产品ID</th>
                        <th>产品编号</th>
                        <th>产品名称</th>
                        <th>产品类别</th>
                        <th>产品单价</th>
                        <th>产品售价</th>
                        <th>计量单位</th>
                        <th>规格</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div  data-tab-panel-7 class="am-tab-panel ">
            <div class="am-u-sm-12">
                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                    <thead>
                    <tr>
                        <th style="display: none">产品ID</th>
                        <th>产品编号</th>
                        <th>产品名称</th>
                        <th>产品类别</th>
                        <th>产品单价</th>
                        <th>产品售价</th>
                        <th>计量单位</th>
                        <th>规格</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div data-tab-panel-8 class="am-tab-panel ">
            <div class="am-u-sm-12">
                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                    <thead>
                    <tr>
                        <th style="display: none">产品ID</th>
                        <th>产品编号</th>
                        <th>产品名称</th>
                        <th>产品类别</th>
                        <th>产品单价</th>
                        <th>产品售价</th>
                        <th>计量单位</th>
                        <th>规格</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
{/block}

