{extend name='layout'/}
{block name='content'}
<!--主要内容-->
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row  am-cf">
            <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                <div class="widget widget-primary am-cf" style="background: orange">
                    <div class="widget-statistic-header" style="color: whitesmoke">
                        本月度利润
                    </div>
                    <div class="widget-statistic-body">
                        <div class="widget-statistic-value" style="color: whitesmoke">
                            ￥{$monthly_profit}
                        </div>
                        <div class="widget-statistic-description" style="color: whitesmoke">
                            Whatever is worth doing is worth doing well.
                        </div>
                        <span class="widget-statistic-icon am-icon-cubes" style="color: rgba(255,255,255,0.3)"></span>
                    </div>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                <div class="widget widget-primary am-cf">
                    <div class="widget-statistic-header">
                        本季度利润
                    </div>
                    <div class="widget-statistic-body">
                        <div class="widget-statistic-value">
                            ￥{$quart_profit}
                        </div>
                        <div class="widget-statistic-description">
                            Whatever is worth doing is worth doing well.
                        </div>
                        <span class="widget-statistic-icon am-icon-credit-card-alt"></span>
                    </div>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                <div class="widget widget-purple am-cf">
                    <div class="widget-statistic-header">
                        本年度总销售额
                    </div>
                    <div class="widget-statistic-body">
                        <div class="widget-statistic-value">
                            ￥{$sale_room}
                        </div>
                        <div class="widget-statistic-description">
                            Whatever is worth doing is worth doing well.
                        </div>
                        <span class="widget-statistic-icon am-icon-support"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row am-cf">
            <div class="am-u-sm-12 am-u-md-8">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">年度销售额</div>
                        <div class="widget-function am-fr">
                            <!--<a href="javascript:;" class="am-icon-cog"></a>-->
                            <i class="am-icon-gear am-icon-spin"></i>
                        </div>
                    </div>
                    <div class="widget-body-md widget-body tpl-amendment-echarts am-fr" id="total_sell_for_year">
                        <!--年度销售额折线图-->
                        <script type="text/javascript">
                            $(document).ready(function(){
                                $.post('/index.php/statistics/statistics/department_sale_chart', {}, function(res){
                                    var data = JSON.parse(res);
                                    var dom = document.getElementById('total_sell_for_year');
                                    //初始化echart
                                    var chart = echarts.init(dom);
                                    //制定配置项
                                    var option = {
                                        tooltip: {
                                            //鼠标移动显示图例
                                            trigger: 'axis'
                                        },
                                        grid: {
                                            //绘制
                                            top: '3%',
                                            left: '3%',
                                            right: '4%',
                                            bottom: '3%',
                                            containLabel: true
                                        },
                                        xAxis: {
                                            type: 'category',
                                            boundaryGap: false,
                                            data: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                                        },
                                        yAxis: {
                                            type: 'value'
                                        },
                                        textStyle: {
                                            color: '#838FA1'
                                        },
                                        series: [{
                                            name: '月度销售总额',
                                            data: data,
                                            type: 'line',
                                            areaStyle: {normal: {}},
                                            itemStyle: {
                                                normal: {
                                                    color: '#1cabdb',
                                                    borderColor: '#1cabdb',
                                                    borderWidth: '2',
                                                    borderType: 'solid',
                                                    opacity: '1'
                                                },
                                                emphasis: {

                                                }
                                            }
                                        }]
                                    };

                                    //创建图表
                                    chart.setOption(option);
                                })
                            })
                        </script>
                    </div>
                </div>
            </div>

            <div class="am-u-sm-12 am-u-md-4">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">先定一个小目标</div>
                        <div class="widget-function am-fr">
                            <!--<a href="javascript:;" class="am-icon-cog"></a>-->
                            <i class="am-icon-gear am-icon-spin"></i>
                        </div>
                    </div>
                    <div class="widget-body widget-body-md am-fr">

                        <div class="am-progress-title">月度目标<span class="am-fr am-progress-title-more">{$monthly_goal}% / 100%</span></div>
                        <div class="am-progress">
                            <div class="am-progress-bar" style="width: {$monthly_goal}%"></div>
                        </div>
                        <div class="am-progress-title">季度目标<span class="am-fr am-progress-title-more">{$quart_goal}% / 100%</span></div>
                        <div class="am-progress">
                            <div class="am-progress-bar  am-progress-bar-warning" style="width: {$quart_goal}%"></div>
                        </div>
                        <div class="am-progress-title">年度目标<span class="am-fr am-progress-title-more">{$year_goal}% / 100%</span></div>
                        <div class="am-progress">
                            <div class="am-progress-bar am-progress-bar-danger" style="width: {$year_goal}%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row am-cf">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-4 widget-margin-bottom-lg ">
                <div class="tpl-user-card am-text-center widget-body-lg">
                    <div class="tpl-user-card-title">
                        明星员工
                    </div>
                    <div class="achievement-subheading">
                        <!--月度最佳员工-->
                    </div>
                    <img class="achievement-image" src="/static/images/faces/face1.jpg" alt="">
                    <br><br><br>
                    <div class="achievement-description">
                        {$star_employee} 在
                        <strong>30天内</strong> 销售额排名
                        <strong>No.1</strong>。
                    </div>
                </div>
            </div>

            <div class="am-u-sm-12 am-u-md-12 am-u-lg-8 widget-margin-bottom-lg">

                <div class="widget am-cf widget-body-lg">

                    <div class="widget-body  am-fr">
                        <div class="am-scrollable-horizontal ">
                            <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black " id="example-r">
                                <thead>
                                <tr>
                                    <th>员工ID</th>
                                    <th>员工姓名</th>
                                    <th>年度销售额</th>
                                    <th>点赞</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name='top_five_employee' id='top'}
                                <tr class="gradeX">
                                    <td>{$top.employee_num}</td>
                                    <td>{$top.employee_name}</td>
                                    <td>{$top.total}</td>
                                    <td>
                                        <div class="tpl-table-black-operation">
                                            <a href="">
                                                <i class="am-icon-thumbs-o-up"></i> 点赞
                                            </a>
                                            <!--<a href="javascript:;" class="tpl-table-black-operation-del">-->
                                                <!--<i class="am-icon-trash"></i> 删除-->
                                            <!--</a>-->
                                        </div>
                                    </td>
                                </tr>
                                {/volist}
                                <!-- more data -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{/block}