<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Get Start-->>></title>
  <link rel="stylesheet" href="/assets/css/amazeui.min.css" />
  <link rel="stylesheet" href="/assets/css/amazeui.datatables.min.css" />
  <link rel="stylesheet" href="/assets/css/amazeui.datetimepicker.css"/>
  <link rel="stylesheet" href="/assets/css/app.css">
  <script src="/assets/js/jquery.min.js"></script>
  {css href="/static/css/index.css" /}
  {css href="/static/vendors/iconfonts/mdi/css/materialdesignicons.min.css"/}
  {css href="/static/vendors/css/vendor.bundle.base.css"/}

  {css href="/static/css/model/style.css"/}
</head>

<body style="background-color: #2A2A2A;" >
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth" style="background: #2A2A2A;">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto" style="color: lightgrey; border-color: ghostwhite; border-width: 1px; border-style: solid; border-radius: 15px;">
            <div class="auth-form-light text-left p-5" style="background: #2A2A2A">
              <div class="brand-logo" style="text-align: center;">
                <img src="/static/images/Logo_purple.png">
              </div>
              <h4>Hello! let's get started</h4>
              <h6 class="font-weight-light" style="color: {neq name='login_message' value='hello'}red;{/neq}">
                {switch name='login_message'}
                  {case value='hello'}Sign in to continue.{/case}
                  {case value='false'}Please check your account{/case}
                  {case value='ban'}You have entered wrong password 3 times in 30 seconds.{/case}
                {/switch}
              </h6>
              <form action="{:url('login')}" method="post" class="pt-3">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" id="employee_num" name="employee_num" style="border-radius: 30px" placeholder="Your Number" required="required">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" id="employee_password" name="employee_password" style="border-radius: 30px" placeholder="Password" required="required">
                </div>
                <div class="mt-3">
                  <!--<a class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" href="../../index.html">SIGN IN</a>-->
                  <button class="am-btn am-btn-primary am-round am-btn-block" type="submit" style="background-color: rgba(0,0,0,0)">Sign In</button>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                  <!--<div class="form-check">-->
                    <!--<label class="form-check-label text-muted">-->
                      <!--<input type="checkbox" class="form-check-input">-->
                      <!--Keep me signed in-->
                    <!--</label>-->
                  <!--</div>-->
                  <!--<a href="#" class="auth-link text-black">Forgot password?</a>-->
                </div>
                <div class="mb-2">
                  <button type="button" class="am-btn am-btn-success am-round am-btn-block" style="font-size: small; background-color: rgba(0,0,0,0)">
                    <i class="mdi mdi-wechat mr-2"></i>Connect using Wechat
                  </button>
                </div>
                <!-- 去除注册功能 -->
                <!--<div class="text-center mt-4 font-weight-light">-->
                  <!--Don't have an account? <a href="register.html" class="text-primary">Create</a>-->
                <!--</div>-->
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  {js href="/static/vendors/js/vendor.bundle.base.js" /}
  {js href="/static/vendors/js/vendor.bundle.addons.js" /}

  {js href="/static/js/model/off-canvas.js" /}
  {js href="/static/js/model/misc.js" /}

  {js href="/static/js/model/dashboard.js" /}
  <script src="/assets/js/amazeui.min.js"></script>
  <script src="/assets/js/amazeui.datatables.min.js"></script>
</body>

</html>
