 <div class="left-sidebar">
            <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture">
                        <img src="/static/images/faces/face1.jpg" alt="">
                    </div>
                    <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              Hello, Tony!
          </span>
                </div>
            </div>

            <!-- 菜单 -->
			<ul class="sidebar-nav">
			
<li class="sidebar-nav-heading">控制面板</span></li>
	<li class="sidebar-nav-link">
		<a href="{:url(\\think\\Request::instance()->module().'/AfterSale/lists')}">
				<i class="am-icon-wpforms sidebar-nav-link-logo"></i>after_sale		</a>
	</li>
	<li class="sidebar-nav-link">
		<a href="{:url(\\think\\Request::instance()->module().'/Customer/lists')}">
				<i class="am-icon-wpforms sidebar-nav-link-logo"></i>customer		</a>
	</li>
	<li class="sidebar-nav-link">
		<a href="{:url(\\think\\Request::instance()->module().'/Employee/lists')}">
				<i class="am-icon-wpforms sidebar-nav-link-logo"></i>employee		</a>
	</li>
	<li class="sidebar-nav-link">
		<a href="{:url(\\think\\Request::instance()->module().'/Feedback/lists')}">
				<i class="am-icon-wpforms sidebar-nav-link-logo"></i>feedback		</a>
	</li>
	<li class="sidebar-nav-link">
		<a href="{:url(\\think\\Request::instance()->module().'/Order/lists')}">
				<i class="am-icon-wpforms sidebar-nav-link-logo"></i>order		</a>
	</li>
	<li class="sidebar-nav-link">
		<a href="{:url(\\think\\Request::instance()->module().'/Product/lists')}">
				<i class="am-icon-wpforms sidebar-nav-link-logo"></i>product		</a>
	</li>
	<li class="sidebar-nav-link">
		<a href="{:url(\\think\\Request::instance()->module().'/Record/lists')}">
				<i class="am-icon-wpforms sidebar-nav-link-logo"></i>record		</a>
	</li>
            </ul>
        </div>