{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
		<div class="row-content am-cf">
				<div class="row">
						<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
								<div class="widget am-cf">
										<div class="widget-head am-cf">
												<div class="widget-title  am-cf">管理feedback</div>
										</div>
										<div class="widget-body  am-fr">
	<div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
		<div class="am-form-group">
			<div class="am-btn-toolbar">
				<div class="am-btn-group am-btn-group-xs">
					<a class="am-btn am-btn-default am-btn-success" href="{:url('feedback/add')}">
						<span class="am-icon-plus"></span> 新增
					</a>
					<!--
					<button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
					<button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
					<button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
					-->
				</div>
			</div>
		</div>
	</div>
	<div class="am-u-sm-12">
		<table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
				<thead>
					<tr>
												<th>售后反馈单ID</th>
												<th>售后反馈单编号</th>
												<th>对应售后服务单编号</th>
												<th>售后负责人员</th>
												<th>售后处理方式</th>
												<th>售后费用</th>
												<th>处理情况说明</th>
												<th>操作</th>
					</tr>
				</thead>
				<tbody>
						{volist name="feedbackList" id="vo"}
						<tr class="gradeX">
																<td>{$vo.id}</td>
																<td>{$vo.feedback_id}</td>
																<td>{$vo.feedback_after_sale_id}</td>
																<td>{$vo.feedback_after_sale_empolyee}</td>
																<td>{$vo.feedback_processing_type}</td>
																<td>{$vo.feedback_after_sale_cost}</td>
																<td>{$vo.feedback_situation_description}</td>
																<td>
										<div class="tpl-table-black-operation">
												<a  href="{:url('feedback/edit', ['id'=>$vo['id']])}">
													<i class="am-icon-pencil"></i> 编辑
												</a>
												<a href="{:url('feedback/delete', ['id'=>$vo['id']])}" onclick='return confirm("确定删除吗？")' class="tpl-table-black-operation-del">
													<i class="am-icon-trash"></i> 删除
												</a>
										</div>
								</td>
						</tr>
						{/volist}
						<!-- more data -->
				</tbody>
		</table>
	</div>
	<div class="am-u-lg-12 am-cf">

			<div class="am-fr">
					<ul class="am-pagination tpl-pagination">
							{$feedbackList->render()}
					</ul>
			</div>
	</div>
</div>
								</div>
						</div>
				</div>
		</div>
</div>
{/block}