<!DOCTYPE html>
<html>
<head>
    <title>临时主页</title>
    {css href="/static/css/index.css" /}
    {css href="/static/vendors/iconfonts/mdi/css/materialdesignicons.min.css"/}
    {css href="/static/vendors/css/vendor.bundle.base.css"/}

    {css href="/static/css/model/style.css"/}
</head>
<body>
    <div class="container-scroller">
        {include file="../application/index/view/common/_navbar.html" /}
        <div class="container-fluid page-body-wrapper">
            {include file="../application/index/view/common/_sidebar.html"}
            <div class="main-panel">
                {block name="main_body"}
                <!--主界面内容-->
                {/block}
                {include file="../application/index/view/common/_footer.html" /}
            </div>

            <!--footer暂时取消-->
        </div>
    </div>
    {js href="/static/vendors/js/vendor.bundle.base.js" /}
    {js href="/static/vendors/js/vendor.bundle.addons.js" /}

    {js href="/static/js/model/off-canvas.js" /}
    {js href="/static/js/model/misc.js" /}

    {js href="/static/js/model/dashboard.js" /}
</body>
</html>