 <div class="left-sidebar">
            <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture">
                        <img src="/assets/img/user04.png" alt="">
                    </div>
                    <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              User
          </span>
                </div>
            </div>

            <!-- 菜单 -->
			<ul class="sidebar-nav">
			
                <li class="sidebar-nav-heading">控制面板 <span class="sidebar-nav-heading-info"> Dashboard</span></li>

                <li class="sidebar-nav-link">
                    <a href="{:url('/manager/manager/show')}">
                        <i class="am-icon-wpforms sidebar-nav-link-logo"></i>部门总览
                    </a>
                </li>

                <li class="sidebar-nav-link">
                    <a href="{:url('/manager/manager/product_dashboard')}">
                        <i class="am-icon-wpforms sidebar-nav-link-logo"></i>产品报表
                    </a>
                </li>

	            <li class="sidebar-nav-link">
		            <a href="{:url('/admin/admin/admin_customer')}">
				<i class="am-icon-wpforms sidebar-nav-link-logo"></i>客户管理
                    </a>
	            </li>

	            <li class="sidebar-nav-link">
                    <a href="{:url('index/order/index')}">
				<i class="am-icon-wpforms sidebar-nav-link-logo"></i>订单管理
                    </a>
	            </li>

                <li class="sidebar-nav-link">
                    <a href="{:url('/admin/admin/admin_employee')}">
                        <i class="am-icon-wpforms sidebar-nav-link-logo"></i>员工管理
                    </a>
                </li>

                <li class="sidebar-nav-link">
                    <a href="{:url('/admin/admin/admin_employee')}">
                        <i class="am-icon-wpforms sidebar-nav-link-logo"></i>售后受理
                    </a>
                </li>

                <li class="sidebar-nav-link">
                    <a href="{:url('/admin/admin/admin_employee')}">
                        <i class="am-icon-wpforms sidebar-nav-link-logo"></i>售后反馈
                    </a>
                </li>
            </ul>
        </div>