 <div class="left-sidebar">
            <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture">
                        <img src="/static/images/faces/face1.jpg" alt="">
                    </div>
                    <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              Hello, Tony!
          </span>
                </div>
            </div>

            <!-- 菜单 -->
			<ul class="sidebar-nav">
			
<li class="sidebar-nav-heading">控制面板</li>
	<li class="sidebar-nav-link">
		<a href="{:url(\\think\\Request::instance()->module().'/AfterSale/lists')}">
				<i class="am-icon-wpforms sidebar-nav-link-logo"></i>售后订单</a>
	</li>
	<li class="sidebar-nav-link">
		<a href="{:url(\\think\\Request::instance()->module().'feedback/model/Feedback/Feedback/lists')}">
				<i class="am-icon-wpforms sidebar-nav-link-logo"></i>售后反馈</a>
	</li>
            </ul>
        </div>